<div class="info jumbotron">
    <h1>Features : </h1>

    <p>
        - Data are cached so it download all data once and if you don't hard refresh everything load really fast.
    </p>
    <p>
        - If you reload from gallery ( http://localhost:3000/category/2 for example ) it's still retrieve Data then display gallery where you're supposed to be.    
    </p>
    <p>
        - If you switch from home to a specific gallery, when you come back on home the currentPage of the pagination is saved. 
    </p>
    <p>
        - Same mechanic with gallery pagination. If you do Home -> gallery 10 -> Home -> gallery 10. if you change of category it reset the currentPage of the pagination.
    </p>
</div>

